<!DOCTYPE html>
<html lang="ja" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Todoアプリ</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
</head>
<body ng-controller="appController as vm">
    <style>
        .done {
            text-decoration: line-through;
            color: red;
        }
    </style>
    <script>
        angular.module('myApp', [])
            .controller('appController', function() {
                var vm = this;

                vm.todos = [];
                vm.todoTitle = ''

                /*
                 * TODO項目の作成処理
                 */
                vm.todoCreate = function () {
                    vm.todoItem = {
                        title: vm.todoTitle,
                        done: false
                    };
                    vm.todos.push(vm.todoItem);

                };
            });
    </script>
    <div>
        <form>
            <input type="text" ng-model="vm.todoTitle" placeholder="TODOを入力">
            <button ng-click="vm.todoCreate()">TODOを作成</button>
            <ul ng-repeat="todo in vm.todos">
                <li>
                    <input type="checkbox" ng-model="todo.done">
                    <span ng-class="{'done': todo.done }">{{todo.title}}</span>
                </li>
            </ul>
        </form>
    </div>
</body>
</html>